name: Build & Deploy to TestFlight
on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build IPA
    runs-on: macOS-15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build iOS Beta via Fastlane
        run: fastlane gym
        env:
          JUDGE0_KEY: ""
          JUDGE0_ENDPOINT: ""
          DISTRIBUTE_EXTERNAL: "true"
          XCODE_PATH: "/Applications/Xcode_26.0.app"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ipa-build
          path: Code.ipa
